<section class="addExperiencia">
    <br>
    <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
    <div class="container">
        <div class="row">
          <h1  class="form-label text-center">Agregar nueva experiencia</h1>
          <br>
            <div>
                <form  [formGroup]="form" (ngSubmit)="onEnviar($event)" name="FormAddExperiencia"> 
                        <div class="mb-3">
                          <label for="url_logoEmpresa" class="form-label">Agregar imagen de la empresa</label>
                          <input class="form-control" type="file"  formControlName="url_logoEmpresa"  (change)="uploadImgExperiencia($event)"  >
                        </div>

                        <div class="mb-3">
                          <label for="nombre" class="form-label">Agregar nombre de la empresa</label>
                          <input type="text" class="form-control"  formControlName="nombre"  [ngClass]="{'is-invalid': NombreEmpresa.errors && NombreEmpresa.touched, 'is-valid': !NombreEmpresa.errors && NombreEmpresa.touched}" >
                          <div *ngIf="NombreEmpresa.errors && NombreEmpresa.touched" class="invalid-feedback">
                            <div *ngIf="NombreEmpresa.errors['required']">El nombre de la empresa es un campo requerido.</div>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="descripcion" class="form-label">Agregar descripción de la empresa</label>
                          <textarea class="form-control"   rows="3" formControlName="descripcion" [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid': !Descripcion.errors && Descripcion.touched}"></textarea>
                          <div *ngIf="Descripcion.errors && Descripcion.touched">    
                            <p *ngIf="Descripcion.hasError('required')" class="text-danger">
                              La descripción es requerida.
                            </p>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="puesto" class="form-label">Agregar puesto que tiene u obtuvo en la empresa</label>
                          <input type="text" class="form-control"  formControlName="puesto" [ngClass]="{'is-invalid': Puesto.errors && Puesto.touched, 'is-valid': !Puesto.errors && Puesto.touched}">
                          <div *ngIf="Puesto.errors && Puesto.touched" class="invalid-feedback">
                            <div *ngIf="Puesto.errors['required']">El puesto es un campo requerido.</div>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="fechaInicio" class="form-label">Agregar fecha de inicio en la empresa</label>
                          <input type="date" class="form-control"    formControlName="fechaInicio" [ngClass]="{'is-invalid': FechaI.errors &&  FechaI.touched, 'is-valid': !FechaI.errors &&  FechaI.touched}">
                          <div *ngIf="FechaI.errors && FechaI.touched" class="invalid-feedback">
                            <div *ngIf="FechaI.errors['required']">La fecha de inicio es requerida.</div>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="fechaFin" class="form-label">Agregar fecha de finalización en la empresa</label>
                          <input type="date" class="form-control"  formControlName="fechaFin" [ngClass]="{'is-invalid': FechaF.errors &&  FechaF.touched, 'is-valid': !FechaF.errors &&  FechaF.touched}"> 
                          <div *ngIf="FechaF.errors && FechaF.touched" class="invalid-feedback">
                            <div *ngIf="FechaF.errors['required']">La fecha de finalización es requerida.</div>
                          </div>
                        </div>

                        <div class="mb-3">
                            <label for="url" class="form-label">Agregar link de la empresa</label> 
                            <input type="text" class="form-control"  formControlName="url"  [ngClass]="{'is-invalid': Link.errors && Link.touched, 'is-valid': !Link.errors && Link.touched}" >
                            <div *ngIf="Link.errors && Link.touched" class="invalid-feedback">
                              <div *ngIf="Link.errors['required']">El link es un campo requerido.</div>
                            </div>
                          </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-ligth" (click)="limpiar()">Limpiar</button>
                          <button type="submit" class="btn btnLogin">Agregar nueva experiencia</button>          
                        </div>
        
                    </form>   
            </div>     
        </div>
      </div>
      <br>
  </section>
  <app-footer></app-footer>

