<div class="addRedes">
    <br><br>
    <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
    <br><br>
    <div class="container">
      <br>
      <div class="row">
        <h1  class="form-label text-center">Agregar nueva red social</h1>
        <br>
          <div>
            <form (ngSubmit)="crearRed()" novalidate #f="ngForm">
              <div class="form-group mt-4">
                  <label for="url_redes">Agregar el lik de la red social</label>
                  <input type="url" class="form-control" id="url_redes" name="url_redes" [(ngModel)]="url_redes" >
              </div>

              
              <div class="form-group mt-4">
                <label for="url_redes">Agregar el link de la red social</label>
                <select class="form-select" aria-label="url_redes" [(ngModel)]="url_redes">
                    <option selected>Seleccionar...</option>
                    <option value="1">bi bi-twitter</option>
                    <option value="2">bi bi-telegram</option>
                    <option value="3">bi bi-facebook</option>
                    <option value="4">bi bi-tiktok</option>
                    <option value="5">bi bi-whatsapp</option>
                  </select>
              </div>
              <br><br>
              <div class="modal-footer">
                <button type="button" class="btn-agregar" (click)="limpiar()">Limpiar</button>
                <button  type="submit" class="btn btn-agregar">
                  Agregar nueva red social
                </button>
              </div>
              <br><br>
          </form>   
          </div>     
      </div>
  </div>
  <br><br><br><br>
  </div>
      
  <app-footer></app-footer>