<div class="addRedes">
    <br><br>
    <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
    <br><br>
    <div class="container">
      <br>
      <div class="row">
        <h1  class="form-label text-center">Agregar nueva red social</h1>
        <br>
          <div>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="addFormRedes"> 
              <div class="mb-3">
                  <label for="url_redes" class="form-label">Agregar el link de la red social</label>
                  <input type="url" class="form-control"  formControlName="url_redes" [ngClass]="{'is-invalid': Link.errors && Link.touched, 'is-valid': !Link.errors && Link.touched}">
                  <div *ngIf="Link.errors && Link.touched">    
                       <p *ngIf="Link.hasError('required')" class="text-danger">
                         El link de la red social es un campo es requerido.
                        </p>
                  </div>
               </div>

               <div class="mb-3">
                <label for="icoFont" class="form-label">Agregar el icono de la red social</label>
                <input type="text" class="form-control"  formControlName="icoFont" [ngClass]="{'is-invalid': Icono.errors && Icono.touched, 'is-valid': !Icono.errors && Icono.touched}">
                <div *ngIf="Icono.errors && Icono.touched">    
                     <p *ngIf="Icono.hasError('required')" class="text-danger">
                       El icono de la red social es un campo es requerido.
                      </p>
                </div>
             </div>
      
                   
                      <div class="modal-footer">
                        <button type="button" class="btn btn-ligth" (click)="limpiar()">Limpiar</button>
                        <button type="submit" class="btn btnLogin">Agregar nueva red social</button>
                      </div>
             </form>   
          </div>     
      </div>
  </div>
  <br><br><br><br>
  </div>
      
  <app-footer></app-footer>