<div class="addRedes">
    <br><br>
    <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
    <br><br>
    <div class="container">
      <br>
      <div class="row">
        <h1  class="form-label text-center">Agregar nueva red social</h1>
        <br>
          <div>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="addFormRedes"> 
              <div class="mb-3">
                  <label for="url_redes" class="form-label">Agregar el link de la red social</label>
                  <input type="url" class="form-control"  formControlName="url_redes" [ngClass]="{'is-invalid': Link.errors && Link.touched, 'is-valid': !Link.errors && Link.touched}">
                  <div *ngIf="Link.errors && Link.touched">    
                       <p *ngIf="Link.hasError('required')" class="text-danger">
                         El link de la red social es un campo es requerido.
                        </p>
                  </div>
               </div>

               <div class="mb-3">
                <label for="icoFont" class="form-label">Agregar el icono de la red social</label>
                <input type="text" class="form-control"  formControlName="icoFont" [ngClass]="{'is-invalid': Icono.errors && Icono.touched, 'is-valid': !Icono.errors && Icono.touched}">
                <div *ngIf="Icono.errors && Icono.touched">    
                     <p *ngIf="Icono.hasError('required')" class="text-danger">
                       El icono de la red social es un campo es requerido.
                      </p>
                </div>
             </div>
                   
                      <div class="modal-footer">
                        <button type="button" class="btn-limpiar" (click)="limpiar()">Limpiar</button>
                        <button type="submit" class="btn-agregar">Agregar nueva red social</button>
                      </div>
                      <br><br>
             </form>   
          </div>  
          <br><br>
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th class="col-1">Nombre de la red social</th>
                <th class="col-1">Icono</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-1">Telegram</th>
                <td class="col-1">bi bi-telegram</td>
              </tr>
              <tr>
                <th class="col-1">WhatsApp</th>
                <td class="col-1" > bi bi-whatsapp</td>
              </tr>
              <tr>
                <th class="col-1">Instagram</th>
                <td class="col-1">bi bi-instagram</td>
              </tr>
              <tr>
                <th class="col-1">Facebook</th>
                <td class="col-1">bi bi-facebook</td>
              </tr>
            </tbody>
          </table>  
          <br>
          <p>Recomendación para completar el campo de Icono<span class="text-danger">*</span>: Seleccione en la tabla de la columna Icono y luego pegué 
            en el campo de "Agregar icono de la red social" para obtener el icono de la red social.</p>
      </div>
  </div>
  <br><br><br><br>
  </div>
      
  <app-footer></app-footer>