<section class="addProyecto">
    <br>
    <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
    <br>
    <div class="container">
        <div class="row">
          <h1  class="form-label text-center">Agregar nuevo proyecto</h1>
          <br>
            <div>
                <form  [formGroup]="form" (ngSubmit)="onEnviar($event)" name="FormAddProyecto"> 
                    <div class="mb-3">
                      <label for="url_imgProyecto" class="form-label">Agregar imagen del proyecto</label>
                      <input class="form-control" type="file"  formControlName="url_imgProyecto"  (change)="uploadImgProyecto($event)"  >
                    </div>

                    <div class="mb-3">
                      <label for="tituloProyecto" class="form-label">Agregar el nombre del proyecto</label>
                      <input type="text" class="form-control"  formControlName="tituloProyecto"  [ngClass]="{'is-invalid': Titulo.errors && Titulo.touched, 'is-valid': !Titulo.errors && Titulo.touched}" >
                      <div *ngIf="Titulo.errors && Titulo.touched" class="invalid-feedback">
                        <div *ngIf="Titulo.errors['required']">El título del proyecto es un campo requerido.</div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Agregar descripción del proyecto</label>
                      <textarea class="form-control" maxlength="500"  rows="3" formControlName="descripcion" [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid': !Descripcion.errors && Descripcion.touched}"></textarea>
                      <div *ngIf="Descripcion.errors && Descripcion.touched">    
                        <p *ngIf="Descripcion.hasError('required')" class="text-danger">
                          La descripción es requerida.
                        </p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="fechaInicio" class="form-label">Agregar fecha de inicio del proyecto</label>
                      <input type="date" class="form-control"    formControlName="fechaInicio" [ngClass]="{'is-invalid': FechaI.errors &&  FechaI.touched, 'is-valid': !FechaI.errors &&  FechaI.touched}">
                      <div *ngIf="FechaI.errors && FechaI.touched" class="invalid-feedback">
                        <div *ngIf="FechaI.errors['required']">La fecha de inicio es requerida.</div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="fechaFin" class="form-label">Agregar fecha de finalización del proyecto</label>
                      <input type="date" class="form-control"  formControlName="fechaFin" [ngClass]="{'is-invalid': FechaF.errors &&  FechaF.touched, 'is-valid': !FechaF.errors &&  FechaF.touched}"> 
                      <div *ngIf="FechaF.errors && FechaF.touched" class="invalid-feedback">
                        <div *ngIf="FechaF.errors['required']">La fecha de finalización es requerida.</div>
                      </div>
                    </div>

                    <div class="mb-3">
                        <label for="url_proyecto" class="form-label">Agregar link del proyecto</label> 
                        <input type="text" class="form-control"  formControlName="url_proyecto"  [ngClass]="{'is-invalid': Link.errors && Link.touched, 'is-valid': !Link.errors && Link.touched}" >
                        <div *ngIf="Link.errors && Link.touched" class="invalid-feedback">
                          <div *ngIf="Link.errors['required']">El link es un campo requerido.</div>
                        </div>
                      </div>

                    <div class="modal-footer">
                      <button type="button" class="btn-limpiar" (click)="limpiar()">Limpiar</button>
                      <button type="submit" class="btn-agregar">Agregar nueva educación</button>          
                    </div>
                    <br>
            </form> 
            </div>     
        </div>
      </div>
      <br><br>
  </section>
  <app-footer></app-footer>