<div class="editHabilidad">
  <br><br>
  <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
  <div class="container">
    <br>
    <div class="row">
      
      <h1  class="form-label text-center">Modificar habilidad</h1>
      <br>
        <div>
          <form [formGroup]="form" (ngSubmit)="onEnviar($event)" novalidate #f="ngForm">
            <div class="mb-3">
              <label for="nombre" class="form-label">Modificar el nombre de la habilidad</label>
              <input type="text" class="form-control"  formControlName="nombre" [ngModel]="habilidad.nombre" [ngClass]="{'is-invalid': Habilidad.errors && Habilidad.touched, 'is-valid': !Habilidad.errors && Habilidad.touched}">
               <div *ngIf="Habilidad.errors && Habilidad.touched">    
                   <p *ngIf="Habilidad.hasError('required')" class="text-danger">
                       El nombre de la habilidad es requerido.
                    </p>
                </div>
             </div>
           
            <div>
              <label for="porcentaje" class="form-label">Modificar el porcentaje de conocimiento de la habilidad</label>
              <input type="number" min="0" max="100" formControlName="porcentaje" [ngModel]="habilidad.porcentaje" [ngClass]="{'is-invalid': Porcentaje.errors && Porcentaje.touched, 'is-valid': !Porcentaje.errors && Porcentaje.touched}">
              <div *ngIf="Porcentaje.errors && Porcentaje.touched">    
                   <p *ngIf="Porcentaje.hasError('required')" class="text-danger">
                          El porcentaje es requerido.
                   </p>
                   <p *ngIf="Porcentaje.hasError('min')" class="text-danger">
                          El porcentaje mínimo es 0.
                   </p>
                   <p *ngIf="Porcentaje.hasError('max')" class="text-danger">
                          El porcentaje máximo es 100.
                   </p>
           
              </div>
            </div>
            <br>
            <div class="modal-footer">
              <button  type="submit" class="btn btn-editar">
               Guardar cambios
              </button>
            </div>
            <br>
        </form>   
        </div>     
    </div>
</div>
<br><br><br><br><br><br><br><br>
</div>
    
<app-footer></app-footer>
  
