<div class="editHabilidad">
  <br><br>
  <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
  <div class="container" *ngIf="habilidad">
    <br>
    <div class="row">
      
      <h1  class="form-label text-center">Modificar habilidad</h1>
      <br>
        <div>
          <form (ngSubmit)="editarHabilidad()" novalidate #f="ngForm">
            <div class="form-group mt-4">
              <label for="nombre" class="form-label">Modificar el nombre de la habilidad<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="habilidad.nombre">
               
             </div>
           
            <div class="form-group mt-4">
              <label for="porcentaje" class="form-label">Modificar el porcentaje de conocimiento de la habilidad<span class="text-danger">*</span></label>
              <input type="number" min="0" max="100"class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="habilidad.porcentaje"> 
            </div>
            <br>
            <div class="modal-footer">
              <button  type="submit" class="btn btn-editar">
               Guardar cambios
              </button>
            </div>
            <br>
        </form>   
        </div>     
    </div>
</div>
<br><br><br><br><br><br><br><br>
</div>
    
<app-footer></app-footer>
  
