.navbar{
    position: fixed;
    width: 103%;
    z-index: 1009;
  }
  .navbar-toggler{
    background-color: blueviolet;
  }
  .d-flex{
     margin-right: 2%;
     margin-left: 2%;
   
  }

  
    /* Efecto de maquina de escribir */
  h3 { 
      position: relative; 
      float: left;
      background: tomato;
      color: #fff;
      font-size: 26px;
  }
  
  h3 span {
      position:absolute;
      right:0;
      width:0;
      background: rgb(0, 0, 0);
      animation: escribir 14s steps(190) infinite alternate;
  }
  
  @keyframes escribir {
      from { width: 60% }
      to { width:0 }
  }


  