<section class="editProyecto">
    <br>
    <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
    <br>
    <div class="container" *ngIf="proyecto">
    <br>
        <div class="row">
          <h1  class="form-label text-center">Modificar proyecto</h1>
          <br>
            <div>
                <form (ngSubmit)="editarProyecto()" novalidate #f="ngForm">
                    <div class="form-group mt-4">
                        <label for="url_imgProyecto" class="form-label">Agregar imagen del proyecto</label>
                        <input class="form-control" type="file"  id="url_imgProyecto" name="url_imgProyecto"  [(ngModel)]="proyecto.url_imgProyecto" (change)="uploadImgProyecto($event)"
                        accept=".jpg, .jpeg, .png"> 
                    </div>
                    <div class="form-group mt-4">
                        <label for="tituloProyecto" class="form-label">Agregar nombre del proyecto</label>
                        <input type="text" class="form-control"  id="tituloProyecto" name="tituloProyecto"  [(ngModel)]="proyecto.tituloProyecto" >    
                    </div>
                    <div class="form-group mt-4">
                        <label for="descripcion" class="form-label">Agregar descripción del proyecto</label>
                        <textarea type="text" class="form-control" maxlength="500" id="descripcion" name="descripcion"  [(ngModel)]="proyecto.descripcion" ></textarea>    
                    </div>
                    <div class="form-group mt-4">
                        <label for="fechaInicio" class="form-label">Agregar fecha de inicio del proyecto</label>
                        <input type="date" class="form-control"  id="fechaInicio" name="fechaInicio"   [(ngModel)]="proyecto.fechaInicio" >    
                    </div>
                    <div class="form-group mt-4">
                        <label for="fechaFin" class="form-label">Agregar fecha de finalización del proyecto</label>
                        <input type="date" class="form-control"  id="fechaFin" name="fechaFin"  [(ngModel)]="proyecto.fechaFin" >    
                    </div>
                    <div class="form-group mt-4">
                        <label for="url_proyecto" class="form-label">Agregar link del proyecto</label>
                        <input type="url" class="form-control"  id="url_proyecto" name="url_proyecto"   [(ngModel)]="proyecto.url_proyecto" >    
                    </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn-guardar">Guardar cambios</button>
                            <br><br><br>
                        </div>
                </form>    
            </div>     
        </div>
      </div>
      <br><br>
  </section>
  <app-footer></app-footer>
