<div class="Frmlogin">
  <br><br><br>
  <form class="formulario" [formGroup]="form" (ngSubmit)="onEnviar($event)" > 
    <br>
    <h1>Login</h1>
     <div class="contenedor"> 
      <!-- Campo Usuario   -->
      <label for="nombreUsuario" class="form-label">Usuario o email</label>
      <div class="form-floating">
        <input type="text" class="form-control"  formControlName="nombreUsuario" [(ngModel)]="nombreUsuario" [ngClass]="{'is-invalid': Nombre.errors && Nombre.touched, 'is-valid': !Nombre.errors && Nombre.touched}">
        <div *ngIf="Nombre.errors && Nombre.touched">    
             <p *ngIf="Nombre.hasError('required')" class="text-danger">
                El nombre  o email es requerido.
              </p>
        </div>
       </div>
      
      <!-- Campo Contraseña -->
      <label for="password" class="form-label">Contraseña </label>
        <div class="form-floating">
        <input type="password" autocomplete="on" formControlName="password"  [(ngModel)]="password" [ngClass]="{'is-invalid': Contra.errors && Contra.touched, 'is-valid': !Contra.errors && Contra.touched}">
        <div *ngIf="Contra.errors && Contra.touched">    
             <p *ngIf="Contra.hasError('required')" class="text-danger">
                  La contraseña es requerida.
             </p>
        </div>
          
        </div>
        
        <br><br>
         <button type="submit" class="button">Login</button>
         <br><br>
         <!-- <p>¿No tienes una cuenta? <a routerLink="/registro"> Registrate </a></p> -->
     </div>
    </form>
    <br>
    <br>
    <br>
  </div>
<app-footer></app-footer>




