<section class="addEducacion">
    <br>
    <button type="button" class="btn-volver" routerLink="/"> <i class="bi bi-reply"></i> Volver</button>
    <div class="container">
        <div class="row">
          <h1  class="form-label text-center">Agregar nueva educación</h1>
          <br>
            <div>
                <form  [formGroup]="form" (ngSubmit)="onEnviar($event)" name="FormAddEducacion"> 
                    <div class="mb-3">
                      <label for="url_logoEstudio" class="form-label">Agregar imagen de la institución en donde estudia o estudió</label>
                      <input class="form-control" type="file"  formControlName="url_logoEstudio"  (change)="uploadImgEducacion($event)"  >
                    </div>

                    <div class="mb-3">
                      <label for="nombre" class="form-label">Agregar nombre de la institución en donde estudia o estudió</label>
                      <input type="text" class="form-control"  formControlName="nombre"  [ngClass]="{'is-invalid': NombreEducacion.errors && NombreEducacion.touched, 'is-valid': !NombreEducacion.errors && NombreEducacion.touched}" >
                      <div *ngIf="NombreEducacion.errors && NombreEducacion.touched" class="invalid-feedback">
                        <div *ngIf="NombreEducacion.errors['required']">El nombre de la institución es un campo requerido.</div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Agregar descripción de la institución</label>
                      <textarea class="form-control" maxlength="500"  rows="3" formControlName="descripcion" [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid': !Descripcion.errors && Descripcion.touched}"></textarea>
                      <div *ngIf="Descripcion.errors && Descripcion.touched">    
                        <p *ngIf="Descripcion.hasError('required')" class="text-danger">
                          La descripción es requerida.
                        </p>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="estudio" class="form-label">Agregar el nombre del título de la institución en donde estudia o estudió</label>
                      <input type="text" class="form-control"  formControlName="estudio" [ngClass]="{'is-invalid': Titulo.errors && Titulo.touched, 'is-valid': !Titulo.errors && Titulo.touched}">
                      <div *ngIf="Titulo.errors && Titulo.touched" class="invalid-feedback">
                        <div *ngIf="Titulo.errors['required']">El nombre del título es un campo requerido.</div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="fechaInicio" class="form-label">Agregar fecha de inicio de sus estudios</label>
                      <input type="date" class="form-control"    formControlName="fechaInicio" [ngClass]="{'is-invalid': FechaI.errors &&  FechaI.touched, 'is-valid': !FechaI.errors &&  FechaI.touched}">
                      <div *ngIf="FechaI.errors && FechaI.touched" class="invalid-feedback">
                        <div *ngIf="FechaI.errors['required']">La fecha de inicio es requerida.</div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="fechaFin" class="form-label">Agregar fecha de finalización de sus estudios</label>
                      <input type="date" class="form-control"  formControlName="fechaFin" [ngClass]="{'is-invalid': FechaF.errors &&  FechaF.touched, 'is-valid': !FechaF.errors &&  FechaF.touched}"> 
                      <div *ngIf="FechaF.errors && FechaF.touched" class="invalid-feedback">
                        <div *ngIf="FechaF.errors['required']">La fecha de finalización es requerida.</div>
                      </div>
                    </div>

                    <div class="mb-3">
                        <label for="url" class="form-label">Agregar link de la institución</label> 
                        <input type="text" class="form-control"  formControlName="url"  [ngClass]="{'is-invalid': Link.errors && Link.touched, 'is-valid': !Link.errors && Link.touched}" >
                        <div *ngIf="Link.errors && Link.touched" class="invalid-feedback">
                          <div *ngIf="Link.errors['required']">El link es un campo requerido.</div>
                        </div>
                      </div>

                    <div class="modal-footer">
                      <button type="button" class="btn-limpiar" (click)="limpiar()">Limpiar</button>
                      <button type="submit" class="btn-agregar">Agregar nueva educación</button>          
                    </div>
                    <br>
            </form>   
            </div>     
        </div>
      </div>
      <br>
  </section>
  <app-footer></app-footer>