<div class="row">
  <h1>Redes Sociales</h1>
  <div class="redsocial">
      <div class="col-9 col-lg-5">
        <label for="github" class="form-label"><i class="bi bi-github"></i> GitHub</label>
        <input class="form-control" type="text" value="https://github.com/sofi-24soto" aria-label="Disabled input example" disabled readonly>
        <br>
    </div>
    <br>
    
    <div class="col-11 col-lg-5">
        <label for="linkedin" class="form-label"><i class="bi bi-linkedin"></i> LinkedIn</label>
        <input class="form-control" type="text" value="https://www.linkedin.com/in/sofia-soto-bb3b051bb/" aria-label="Disabled input example" disabled readonly>
        <br>
    </div>    
  </div>
  
</div>


<div class="tab-content" id="v-pills-tabContent">
 <!-- Inicio de Redes Sociales -->
    <div class="tab-pane fade show" id="redesSociales" role="tabpanel" aria-labelledby="redes-sociales-modal" tabindex="0">
      
      <div class="tab-pane fade show active" id="list-redes" role="tabpanel" aria-labelledby="list-redes-list">
        
        <div class="col-7">
            <label for="github" class="form-label"><i class="bi bi-github"></i> GitHub</label>
            <input class="form-control" type="text" value="https://github.com/sofi-24soto" aria-label="Disabled input example" disabled readonly>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Modificar</button>
            </div>
        </div>
        <br>
        
        <div class="col-7">
            <label for="linkedin" class="form-label"><i class="bi bi-linkedin"></i> LinkedIn</label>
            <input class="form-control" type="text" value="https://www.linkedin.com/in/sofia-soto-bb3b051bb/" aria-label="Disabled input example" disabled readonly>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Modificar</button>
            </div>
        </div>    
      </div>
    </div> <!-- Fin de Redes Sociales -->
</div>



   
 
